@font-face {
  font-family: 'sumihara';
  src: url('fonts/Yujiboku-Regular.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap');
html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.sougoukouka img{
    margin-top: 8px;
    padding: 0;
    width: 100%;
}

.sougoukouka{
    text-align: center;
    flex: 2;
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
}
header{
    border-bottom: 5px double #20327d;
}
header .h1{
    display: flex;
    justify-content: space-between;
}

.h1 .icon{
    padding-left: 100px;
    height: 50px;
    width: 250px;
    margin: auto 0 auto 0;
    flex: 0;
    pointer-events: none;
}
.h1 h1{
    text-align: center;
    background: #20327d;
    color: #dbca84;
    font-size: 2rem;
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.FA{
    padding-left: 50px;
    margin: auto 0 auto 0;
    flex: 3;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(10, 10, 163);
}
.FA span{
    color: red;
}


@media (max-width: 1000px){
    .slider {
        width: 90%;
    }
    .h1 .icon {
        padding-left: 50px;
        height: 40px;
    }
    .h1 h1 {
        font-size: 1.5rem;
        margin-left: 20px;
        flex: 3;
    }
    .FA {
        font-size: 1.6rem;
    }
}
@media (max-width: 600px){
    body{
        overflow-x: hidden;
    }
    .slider-frame {
        padding: 8px;
    }
    .slider {
        width: 100%;
    }
    .h1 .icon {
        padding-left: 10px;
        height: 30px;
    }
    .h1 h1 {
        font-size: 1rem;
        margin-left: 20px;
        flex: 3;
    }
    .FA {
        font-size: .7rem;
        flex: 1;
        padding-right: 10px;
    }
    .item{
        width: 20%;
        margin: 0;
    }
}
