
/* スライダー */
input[type="radio"]{
    display: none;
}

.slider-frame{
    padding: 20px 50px 50px 50px;
    position: relative;
    overflow-x: hidden;
}

.slider-frame .slide-back-bar{
    position: absolute;
    width: 100%;
    height: 15px;
    background: rgb(60, 99, 255);
    transform: translateY(-10px);
    top: 50%;
    left: 0;
    box-shadow: 0 70px 0px rgb(255, 161, 60), 0 -70px 0px rgb(255, 161, 60);
}

.slider{
    position: relative;
    width: 70%;
    margin: auto;
}
.slides {
    z-index: 999;
    display: flex;
    width: 500%;
    margin: auto;
}

.item{
    width: calc(20% - 40px);
    margin: 0 20px;
}
.item img{
    width: 100%;
    border-radius: 20px;
    pointer-events: none;
}


.slider-select{
    display: flex;
    transform: translate(-50%, 0);
    position: absolute;
    left: 50%;
    bottom: -10px;
}
.slider-select label{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgb(207, 220, 255);
    transition: all .3s ease;
}

.slider-select label:not(:last-child){
    margin-right: 20px;
}

#radio1:checked ~ .slider-select #label1{
    background: #fd99a2;
    transform: scale(1.4);
}
#radio2:checked ~ .slider-select #label2{
    background: #fd99a2;
    transform: scale(1.4);
}
#radio3:checked ~ .slider-select #label3{
    background: #fd99a2;
    transform: scale(1.4);
}
#radio4:checked ~ .slider-select #label4{
    background: #fd99a2;
    transform: scale(1.4);
}
#radio5:checked ~ .slider-select #label5{
    background: #fd99a2;
    transform: scale(1.4);
}
#radio1:checked ~ .first{
    margin-left: 0%;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
#radio5:checked ~ .first{
    margin-left: -80%;
}

.first{
    transition: .5s ease;
}

.next,
.back{
    opacity: 0;
    position: absolute;
    height: 100px;
    width: 50px;
    background: #d6d6d64c;
    z-index: 500;
    top: 50%;
    transform: translateY(-50%);
    transition: .2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next i,
.back i{
    height: 40px;
    width: 40px;
}


.next i::after,
.back i::after{
    height: 30px;
    width: 30px;
}


.slider-frame:hover .next,
.slider-frame:hover .back{
    opacity: 1;
}

.next{
    right: 0;
}

.back{
    left: 0;
}

@media (max-width: 1000px){
    .slider {
        width: 90%;
    }
}
@media (max-width: 600px){
    .slider-frame {
        padding: 8px;
    }
    .slider {
        width: 100%;
    }
}
